<div class="container">
  <a routerLink="/home"><h3>Back</h3></a>
  <div class="title">
    <h2>Olympic games app</h2>
  </div>
  <div class="dashboard">
    <div class="title2">
      <h3>Country statistics</h3>
    </div>
    <div class="medals">
      <div class="jo">
        <p class="case">Number of entries<br><div [innerHTML]="getCountryJo()"></div></p>
      </div>
      <div class="countries">
        <p class="case">Total number of medals<br><div [innerHTML]="getMedailNumber()"></div></p>
      </div>
      <div class="athletes">
        <p class="case">Total number of athletes<br><div [innerHTML]="getAthletesNumber()"></div></p>
      </div>
    </div>
  </div>
  <div class="chart">
    <ngx-charts-line-chart
      *ngIf="getNGXLineData() | async as data"
      [results]="data"
      [legend]="true"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Année"
      yAxisLabel="Médailles"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisTickFormatting]="xAxisFormating"
      [yScaleMax]="yScaleMax">
    </ngx-charts-line-chart>
  </div>
</div>