@media screen and (max-width: 489px) {
  .information-wrapper {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 490px) {
  .information-wrapper {
    gap: 20px;
  }
}

.graph-container {
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
}
