p {
    text-align: center;
}

.detail-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    gap: 20px; 
  }
  
  .header {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    margin-top: 30px;
    margin-bottom:15px ;
  }
  
  .info {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    
  }

  .info-item {
    width: 50%;
    border: 1px solid #0097A7;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .chart {
    grid-row: 3; 
    grid-column: 1;
    margin: auto;
  }
  
  .back-link {
    grid-row: 4; 
    grid-column: 1;
    text-align: center;
    margin-top: 20px;
  }

p{
    margin: auto;
    text-align: center;
    color: #BDBDBD;
}
h2{
    font-weight: normal;
    color: #BDBDBD;
    text-align: center;
    background-color: #0097A7;
    border-radius: 5px;
    width: 20%;
    height: 50px;
    margin: auto;
    padding-top: 10px;
}

//Spinner
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustez en fonction de la hauteur de votre conteneur */
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #0097A7;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
