app-home .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 97vw;
}

app-home .dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-home .title2{
  display: flex;
  align-items: center;
}

app-home .dashboard h3{
  width: 20%;
  min-width: 300px;
  font-size: 30px;
  border-radius: 5px;
  background-color: rgb(81, 158, 168);
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

app-home .medals {
  display: flex;
  justify-content: center;
  width: 100%;
}

app-home .medals p{
  font-size: 20px;
}

app-home .case{
  border: 2px solid rgb(81, 158, 168);
  border-radius: 15px;
}

app-home .jo{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

app-home .countries {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

app-home .container .title{
    width: 100%;
    text-align: center;
}

app-home .container .dashboard{
    width: 100%;
    height: 60%;
}

app-home .pie-label{
  font-size: 20px !important;
}

app-home .ngx-charts-tooltip-content{
  font-size: 50 !important;
}