/*article{
    border: 2px solid #0097A7;
    border-radius: 5px;
    display: inline-block;
    margin-left: 50px;;
    padding: 10px;
}
p{
    margin: auto;
    text-align: center;
    color: #BDBDBD;
}
h2{
    color: #BDBDBD;
    text-align: center;
    background-color: #0097A7;
    border-radius: 5px;
    width: 20%;
    height: 50px;
    margin: auto;
}
*/

/*.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .info-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
  }
  
  .joCount, .countriCount {
    flex: 1;
    text-align: center;
    margin: 0 10px;
  }
  
  .chartPie {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
  
    .joCount, .countriCount {
      margin-bottom: 10px;
    }
  }*/


  .chart-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    width: 30%;
    margin: auto;
    background-color: #0097A7;
    border-radius: 5px;
  }
  
  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .joCount, .countriCount {
    text-align: center;
    width: 50%;
    border: 1px solid #0097A7;
    border-radius: 5px;
  }
  
  .chartPie {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .info-container {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

p{
    margin: auto;
    text-align: center;
    color: #BDBDBD;
    padding-top: 10px;
}
h2{
    font-weight: normal;
    color: #BDBDBD;
    text-align: center;
    background-color: #0097A7;
    border-radius: 5px;
    width: 20%;
    height: 50px;
    margin: auto;
    padding-top: 10px;
}
