
<div class="center-content">
  <button class="button-title">Medals per Country</button>
  <div class="subtitle-container">

  <button class="button-subtitle">
    <div class="subtitle-text">
      Number of JOs
    </div>
    <div class="additional-text">
      {{numberOfJOs}}
    </div>
  </button>
  <button class="button-subtitle">
    <div class="subtitle-text">
      Number of countries
    </div>
    <div class="additional-text">
      {{numberOfCountries}}
    </div>
  </button>
  </div>

</div>
<!--Chart-->
<div *ngIf="countryMedals.length; else noDataTemplate">
  <ngx-charts-pie-chart
    [results]="countryMedals"
    [labels]="true"
    (select)="onViewCountry($event)"


  >

  </ngx-charts-pie-chart>
</div>
<ng-template #noDataTemplate>
  <div class="error-message">
    <p>Aucune donnée disponible pour les médailles olympiques.</p>
  </div>
</ng-template>







