.chart-tooltip {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 432px) {
  .graph-container {
    height: 200px;
  }
}

@media screen and (min-width: 433px) {
  .graph-container {
    height: 500px;
  }
}
