.chart-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    width: 30%;
    margin: auto;
    background-color: #0097A7;
    border-radius: 5px;
  }
  
  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .joCount, .countriCount {
    text-align: center;
    width: 50%;
    border: 1px solid #0097A7;
    border-radius: 5px;
  }
  
  .chartPie {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .info-container {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

p{
    margin: auto;
    text-align: center;
    color: #BDBDBD;
    padding-top: 10px;
}
h2{
    font-weight: normal;
    color: #BDBDBD;
    text-align: center;
    background-color: #0097A7;
    border-radius: 5px;
    width: 20%;
    height: 50px;
    margin: auto;
    padding-top: 10px;
}
//Spinner
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustez en fonction de la hauteur de votre conteneur */
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #0097A7;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}