<div class="wrapper">
  <div class="head-title">Medals per Country</div>
  <br /><br />
  @if ((olympics$ | async)?.length != 0) {
    <div class="information-wrapper">
      <div class="information">
        <p>Number of JOs</p>
        <p>{{ olympicCount }}</p>
      </div>
      <div class="information">
        <p>Number of countries</p>
        <p>{{ countryCount }}</p>
      </div>
    </div>
    <ngx-charts-pie-chart
      [scheme]="colorScheme"
      [results]="pieChartDataList"
      [labels]="showLabels"
      [animations]="false"
      (select)="onSelect($event)"
    >
    </ngx-charts-pie-chart>
  }
</div>
