* {
  font-family: Arial, sans-serif;
  letter-spacing: 1.5px;
}

.pie-label {
  font-size: 20px !important;
}

.wrapper {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.graph-container {
  margin-top: 20px;
}
