/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, sans-serif;
  letter-spacing: 1.5px;
}

.pie-label {
  font-size: 20px !important;
}

.head-title {
  background-color: #04838f;
  display: inline-block;
  color: white;
  font-size: 24px;
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
}

.information {
  color: black;
  font-size: 16px;
  border-radius: 7px;
  border: 2px solid #04838f;
  padding: 10px 10px 5px 10px;

  p {
    margin: 0px;
  }

  p:first-child {
    margin-bottom: 2px;
  }

  p:last-child {
    font-weight: 800;
  }
}

.information-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.wrapper {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.graph-container {
  margin-top: 20px;
}
