<main>
    <h2>Medals per country</h2>
    <div class="infos">
        <p-card>
            <div>Number of JOs</div>
            <div>{{ olympicsCount }}</div>
        </p-card>
        <p-card>
            <div>Number of countries</div>
            <div>{{ countryCount }}</div>
        </p-card>
    </div>
    <div class="chart">
        <p-card>
            <p-chart type="pie" [data]="chartData" [options]="chartOptions"
                     (onDataSelect)="navigateToDetails($event)" />
        </p-card>
    </div>
</main>
